<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сайт статистики logistic-bot</title>
    <link rel="stylesheet" type="text/css" href="{% static "/css/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/css/login.css" %}">

        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "/css/responsive.css" %}">
    
</head>
<body class="container">
    
{% if user.is_authenticated %}

<div id="header">
    <div id="branding">

<h1 class="site-name"><a href="/statistic/">Статистика использования logistic-bot</a></h1>

    </div>
    <div id="user-tools">
        
        Добро пожаловать, <strong>{{ user.username }}</strong>. Ваш баланс, <ul class="topmenu"><li><a href="#">{{ balance }}</a>
        <ul class="submenu">
            <li><a href="">Item 1</a></li>
            <li><a href="">Item 2</a></li>
        </ul></li>

        <li><a href="/statistic/logout/">Выйти</a></li>

        {% else %}

        <li><a href="/statistic/login/">Войти</a></li>

        </ul>
    </div>
{% endif %}

</div>



    </div>
<div id="content" class="colM">
    <fieldset class="module aligned ">

        <h2>Товары</h2>
        <div id="content-main">

                <div class="results">
                    <table id="result_list">
                        <thead>
                        <tr>
                            <th scope="col"  class="sortable column-status">
                                <div class="text"><a href="?o=1.-13">Статус</a></div>
                                <div class="clear"></div>
                            </th>

                            <th scope="col"  class="sortable column-task_id">
                                <div class="text"><a href="?o=2.-13">Номер заказа</a></div>
                                <div class="clear"></div>
                            </th>

                            <th scope="col"  class="sortable column-zipcode">
                                <div class="text"><a href="?o=3.-13">Zipcode</a></div>
                                <div class="clear"></div>
                            </th>

                            <th scope="col"  class="sortable column-store_name">
                                <div class="text"><a href="?o=4.-13">Название магазина</a></div>
                                <div class="clear"></div>
                            </th>

                            <th scope="col"  class="sortable column-store_phone">
                                <div class="text"><a href="?o=5.-13">Телефон магазина</a></div>
                                <div class="clear"></div>
                            </th>

                            <th scope="col"  class="sortable column-order_number">
                                <div class="text"><a href="?o=6.-13">Номер заказа</a></div>
                                <div class="clear"></div>
                            </th>

                            <th scope="col"  class="sortable column-pickup_person">
                                <div class="text"><a href="?o=7.-13">Получатель</a></div>
                                <div class="clear"></div>
                            </th>

                            <th scope="col"  class="sortable column-pickup_location">
                                <div class="text"><a href="?o=8.-13">Точка погрузки</a></div>
                                <div class="clear"></div>
                            </th>

                            <th scope="col"  class="sortable column-more_info">
                                <div class="text"><a href="?o=9.-13">Дополнительное инфо</a></div>
                                <div class="clear"></div>
                            </th>

                            <th scope="col"  class="sortable column-product_category">
                                <div class="text"><a href="?o=10.-13">Категория товара</a></div>
                                <div class="clear"></div>
                            </th>

                            <th scope="col"  class="sortable column-product_item">
                                <div class="text"><a href="?o=11.-13">Товар</a></div>
                                <div class="clear"></div>
                            </th>

                            <th scope="col"  class="sortable column-price">
                                <div class="text"><a href="?o=12.-13">Цена</a></div>
                                <div class="clear"></div>
                            </th>

                            <th scope="col"  class="sortable column-created sorted descending">
                                <div class="sortoptions">
                                    <a class="sortremove" href="?o=" title="Remove from sorting"></a>
                                    <a href="?o=13" class="toggle descending" title="Toggle sorting"></a>
                                </div>

                                <div class="text"><a href="?o=13">Дата добавления</a></div>
                                <div class="clear"></div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for product in products %}

                            <tr class="row">
                            {% for status in statuses %}
                            <th class="field-status"> {% ifequal status.task_id product.task_id %} {{ status.status }} {% endifequal %} </th>
                            {% endfor %}
                            <td class="field-task_id">{{ product.task_id }}</td>
                            <td class="field-zipcode">{{ product.zipcode }}</td>
                            <td class="field-store_name">{{ product.store_name }}</td>
                            <td class="field-store_phone">{{ product.store_phone }}</td>
                            <td class="field-order_number">{{ product.order_number }}</td>
                            <td class="field-pickup_person">{{ product.pickup_person }}</td>
                            <td class="field-pickup_location">{{ product.pickup_location }}</td>
                            <td class="field-more_info">{{ product.more_info }}</td>
                            <td class="field-product_category">{{ product.product_category }}</td>
                            <td class="field-product_item">{{ product.product_item }}</td>
                            <td class="field-price">{{ product.price }}</td>
                            <td class="field-created nowrap">{{ product.created }}</td>
                            </tr>

                        {% endfor %}

                    </tbody>
                    </table>
                </div>
        </div>
    </fieldset>

    <fieldset class="module aligned ">
        <h2>Статистика заказов</h2>
        <div id="orders">
            <!-- Сюда добавляется вывод от api запросов с помощью ajax и выполняется форматировние с помощью html тегов -->
        </div>
    </fieldset>

    <fieldset class="module aligned ">
        <h2>Платежи</h2>
        <div id="Payments">
            <!-- Сюда добавляется вывод от api запросов с помощью ajax и выполняется форматировние с помощью html тегов -->
        </div>
    </fieldset>

</body>
</html>